﻿@model TimeStaff.Domain.TableDate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TableDate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TableDateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
