﻿@model TimeStaff.Domain.TConsentFormType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TConsentFormType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TConsentFormTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
