﻿@model IEnumerable<TimeStaff.Domain.TConsentFormType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TConsentFormTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TConsentFormTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TConsentFormTypeId })
        </td>
    </tr>
}

</table>
