﻿@model TimeStaff.Domain.TableStartTime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TableStartTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Timer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Timer)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TableStartTimeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
