﻿@model TimeStaff.Domain.TConsentFormSigned

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TConsentFormSigned</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TConsentForm.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TConsentForm.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcceptConsentForm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcceptConsentForm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MySignature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MySignature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TConsentFormSignedId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
