﻿@model TimeStaff.Domain.TConsentFormSigned

@{
    ViewBag.Title = "Edit";
}

<p>
    <center><img src="~/Content/LogoVCL/LogoVector.jpg" alt="Image" style="width:350px;height:66px;max-width: 100%; height: auto;" /></center>
</p>
<p>
    <center><h4 style="font-family: 'Century Gothic'">CONSENT FORM @Html.DisplayFor(model => model.TConsentForm.TConsentFormType.Title, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })</h4></center>
</p>
<p>
    <center>
        <span style="font-family: 'Century Gothic'; font-size: 0.8em; text-align: justify;">
            Please ensure that you check your garments at the time of collection. No liability will be accepted once garments have been collected.
        </span>
        <br />
        <span style="font-family: 'Century Gothic'; font-size: 0.8em; text-align: justify;">
            Whilst we make every effort to ensure that all stains and marks are removed it is not always possible to do so. It is our policy to always follow the garments care instructions. Should a garment not have a care label, we will exercise the knowledge gained from our experience to clean it. We follow the textile association policies with regards to liability. We will exercise the upmost care in cleaning and processing garments entrusted to us and use such processes which, in our opinion, are best suited to the nature and conditions of each individual garment.
        </span>
        <br />
        <span style="font-family: 'Century Gothic'; font-size: 0.8em; text-align: justify;">
            Nevertheless, we cannot assume responsibility for inherent defects in materials. In Wet cleaning and laundering we cannot guarantee against colour loss, colour bleeding, and shrinkage; or against damage to weak/ tender fabrics or trimmings. Our liability with respect to any damaged items shall not exceed (10) times our charge for cleaning the garment regardless of brand or condition.
        </span>
    </center>
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TConsentFormSignedId)
    @Html.HiddenFor(model => model.TConsentFormId)



    <dl class="dl-horizontal">
        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.TConsentForm.TicketNumber)
            </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TConsentForm.TicketNumber, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>

        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.TConsentForm.Items):
            </span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TConsentForm.Items, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>
        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.TConsentForm.FullName):
            </span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TConsentForm.FullName, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>
        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.TConsentForm.CompanyAddress)
            </span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TConsentForm.CompanyAddress, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TConsentForm.TConsentFormType.Comments)
        </dt>
        <dd>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayFor(model => model.TConsentForm.TConsentFormType.Comments)
            </span>
        </dd>
    </dl>

    <div class="form-group">
        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MySignature, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MySignature, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MySignature, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span style="font-family: 'Century Gothic'; font-size: 1em;">
            @Html.LabelFor(model => model.AcceptConsentForm, htmlAttributes: new { @class = "control-label col-md-2" })
        </span>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.AcceptConsentForm)
                <span style="font-family: 'Century Gothic'; font-size: 0.8em; font-weight: bold;">I agree that I authorise VClean Life to clean my garments and I will not hold VClean Life accountable for any issues that arise during the cleaning process, should any further damage occur once the item is cleaned, I agree that this would have happened because of the condition the item was in  prior to cleaning.</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Accept" class="btn btn-default" />
        </div>
    </div>

    @Html.ValidationMessageFor(model => model.AcceptConsentForm, "", new { @class = "text-danger" })
</div>
}

@section Scripts {
    <script src="~/Scripts/signature_pad.min.js"></script>
    <script src="~/Scripts/SignaturePadInit.js"></script>
}
