﻿@model IEnumerable<TimeStaff.Domain.TConsentFormSigned>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TConsentForm.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptConsentForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MySignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TConsentForm.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcceptConsentForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MySignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Signature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TConsentFormSignedId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TConsentFormSignedId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TConsentFormSignedId })
        </td>
    </tr>
}

</table>
