﻿@model TimeStaff.Domain.TConsentForm

@{
    ViewBag.Title = "Details";
}


<div>
    <p>
        <center><img src="~/Content/LogoVCL/LogoVector.jpg" alt="Image" style="width:350px;height:66px;max-width: 100%; height: auto;" /></center>
    </p>
    <p>
        <center><h4 style="font-family: 'Century Gothic'">CONSENT FORM @Html.DisplayFor(model => model.TConsentFormType.Title, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })</h4></center>
    </p>
    <p>
        <center>
            <span style="font-family: 'Century Gothic'; font-size: 0.8em; text-align: justify;">
                Please ensure that you check your garments at the time of collection. No liability will be accepted once garments have been collected.
            </span>
            <br />
            <span style="font-family: 'Century Gothic'; font-size: 0.8em; text-align: justify;">
                Whilst we make every effort to ensure that all stains and marks are removed it is not always possible to do so. It is our policy to always follow the garments care instructions. Should a garment not have a care label, we will exercise the knowledge gained from our experience to clean it. We follow the textile association policies with regards to liability. We will exercise the upmost care in cleaning and processing garments entrusted to us and use such processes which, in our opinion, are best suited to the nature and conditions of each individual garment.
            </span>
            <br />
            <span style="font-family: 'Century Gothic'; font-size: 0.8em; text-align: justify;">
                Nevertheless, we cannot assume responsibility for inherent defects in materials. In Wet cleaning and laundering we cannot guarantee against colour loss, colour bleeding, and shrinkage; or against damage to weak/ tender fabrics or trimmings. Our liability with respect to any damaged items shall not exceed (10) times our charge for cleaning the garment regardless of brand or condition.
            </span>
        </center>
    </p>

    <dl class="dl-horizontal">
        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.TicketNumber)
            </span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketNumber, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>

        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.Items):
            </span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Items, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>
        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.FullName):
            </span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>
        <dt>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayNameFor(model => model.CompanyAddress)
            </span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyAddress, new { @style = "font-family: 'Century Gothic'; font-size: 0.8em;" })
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>*@



        @*<dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.TConsentFormType.Comments)
        </dt>
        <dd>
            <span style="font-family: 'Century Gothic'; font-size: 1em;">
                @Html.DisplayFor(model => model.TConsentFormType.Comments)
                </span>
        </dd>
        
    </dl>
   

        
   

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TConsentFormId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
