﻿@model IEnumerable<TimeStaff.Domain.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QrCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MySignature)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.QrCode))
    {
        <img src="@Url.Content(item.QrCode)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
}
        </td>
        <td>

            @if (!string.IsNullOrEmpty(item.Signature))
                {
        <img src="@Url.Content(item.Signature)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                }

        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
        </td>
    </tr>
}

</table>
